@import "./src/Common/styles/variable";
@import "./src/Common/styles/mixin";

.project{

    width: 30%;
    background-color: $containerBgColor;
    //display: flex;
    //flex-direction: column;
    //align-items: flex-start;
    //text-align: left;
    margin: 0 auto 70px auto;
    padding: 30px;
    border-radius: 20px;

    .imageContainer{
        height: 240px;
        width: 100%;
        //display: flex;
        //justify-content: center;
        //align-items: center;
        background-image: url("https://images.unsplash.com/photo-1611915387288-fd8d2f5f928b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80");
        background-size: cover;
        background-position: center;
        border-radius: 18px;
        .imageLink{}
    }

    .description{
        @include mainTitle;
        letter-spacing: normal;
        margin: 0;
        padding: 30px 0 0 0;

        .category{
            font-size: 13px;
            color: $extraColor;
            margin-bottom: 5px;

        }
        .name{
            margin: 0;
            font-size: 24px;
            text-transform: none;
        }
        .text{
            min-height: 125px;
            padding: 0;
            margin: 30px 0;
            color: $basicTextColor;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.7;
            text-transform: none;
        }
    }
}

@media screen and (max-width: 1024px) {
    .project{
        width: 40%;
    }
}
@media screen and (max-width: 767px) {
    .project{
        width: 100%;
        margin: 20px;
    }
}

