@import '../../Common/styles/mixin';
@import '../../Common/styles/variable';

.block {
  display: flex;
  //flex-wrap: wrap;
  flex-direction: row;
}

@media screen and (max-width: 1024px) {
  .block {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}