@import '../Common/styles/mixin';

.main {
  @include bgColor(0deg);
  height: 50vh;
  @include container;
  justify-content: flex-start;
  flex-direction: column;

  .mainTitle{
    @include mainTitle;
  }

}