@import "../../Common/styles/mixin";
@import "../../Common/styles/variable";
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  a {
    @include mainTitle;
    font-size: 22px;
    text-decoration: none;
    margin: 10px;

    &:hover {
      color: $extraColor;
    }
  }
}