@import "../../Common/styles/mixin";
@import "../../Common/styles/variable";
.nav {
  display: flex;
  justify-content: space-evenly;

  a {
    color: $textColor;
    font-size: 22px;
    line-height: 1;
    font-family: $fontTitle;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-weight: 700;
    margin: 15px;

    &:hover {
      color: $extraColor;
    }
  }
}