$bgColorDarker: #222831;
$bgColorLighter: #31363c;
$containerBgColor: #1d222a;
$textColor: #fff;
$basicTextColor: #eaeaea;
$extraColor: #29a587;
$borderColor: #a3a5a7;
$fontTitle: 'Jost', sans-serif;
$fontCurvy:  'Caveat', cursive;
