@import "./src/Common/styles/variable";
@import "./src/Common/styles/mixin";

.skill {
    max-width: 400px;
    width: 30%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 20px;
    margin: 0 auto 70px auto;
    box-sizing: border-box;
    position: relative;

    .name{
        color: $textColor;
        font-family: $fontTitle;
        font-size: 21px;
        font-weight: 700;
        margin: 0 30px 20px 30px;
        line-height: 20px;
    }

    .text{
        margin: 0 30px 30px 30px;
        color: $basicTextColor;
        font-family: $fontTitle;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.7;
    }

    .dots{
        background: rgba(255,255,255,0.2);
        position: relative;
        height: 2px;
        width: 100%;
        .dot{
            width: 75%;
            background: $extraColor;
            height: 2px;
            position: relative;

            span{
                border: 2px solid #a3a5a7;
                background-color: $containerBgColor;
                box-shadow: 5px 5px rgb(255 255 255 / 10%);
                border-radius: 50%;
                position: absolute;
                right: 0;
                top: -12px;
                width: 25px;
                height: 25px;
            }
        }

    }

    .value{
        position: absolute;
        top: 0;
        right: 30px;
        margin-top: 20px;

        .num{
            display: inline-block;
            vertical-align: top;
            font-weight: 700;
            color: $textColor;
            height: 20px;
            line-height: 20px;
            font-family: $fontTitle;
            font-size: 16px;

            span{
                color: $extraColor;
            }
        }

    }
}

