.skill {
    width: 250px;
    background-color: paleturquoise;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.imageContainer{
    height: 60px;
    width: 60px;
    background-color: powderblue;
}
.description {
}