$bgColorDarker: #222831;
$bgColorLighter: #31363c;
$fillBgColor: #1d222a;
$primaryTextColor: #fff;
$descriptionTextColor: #eaeaea;
$extraColor: #29a587;
$borderColor: #a3a5a7;
$fontTitle: 'Jost', sans-serif;
$fontCurvy:  'Caveat', cursive;
