@import '../../../../../s1-main/m1-ui/styles/mixin';
@import '../../../../../s1-main/m1-ui/styles/variable';

.infoItem {
  position: relative;
  padding-left: 130px;
  margin-bottom: 40px;

  .iconCircle {
    border: 2px solid #a3a5a7;
    background-color: #1d222a;
    box-shadow: 5px 5px 0 0 rgb(255 255 255 / 10%);
    -webkit-border-radius: 50%;
    width: 56px;
    height: 56px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      height: 40%;
      color: #eaeaea;
    }

    &::after {
      background: #a3a5a7;
      content: '';
      box-sizing: border-box;
      left: 100%;
      width: 40px;
      height: 2px;
      position: absolute;
    }
  }

  .title {
    @include subMainWord;
    padding: 10px 0;
    margin: 0;
  }

  .text {
    @include description;
    opacity: .8;
  }
}