@import "../Common/styles/_mixin.scss";

.skillsBlock {
    @include bgColor(180deg);

    min-height: 100vh;

}

.skillsContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}

