@import '../Common/styles/mixin';

.block{
    @include bgColor(0deg);
    @include container();
    height: 100vh;

    .text{
        width: 300px;
        background-color: peachpuff;
    }
    .photo{
         width: 300px;
         height: 400px;
         background-color: peachpuff;
     }
}


