@import '../Common/styles/mixin';
@import '../Common/styles/variable';

.segment {
  min-height: 100vh;
  display: flex;
  align-items: center;

  .block {
    @include container();
    justify-content: space-around;
    flex-direction: row;

    .aboutMeBlock {

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .title {
        max-width: 860px;
        @include mainTitle;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        b {
          color: $extraColor;
        }

        .subTitle {
          span {
            font-size: 15px;
          }

          strong {
            @include subMainWord;
            text-transform: none;
            letter-spacing: 0;
          }
        }

        .mainTitle {
          font-size: 90px;
          text-shadow: 2px 2px #000, -2px 2px #000, 2px -2px #000, -2px -2px #000, 5px 5px 0 rgb(0 0 0 / 20%);
        }
      }

      .description {
        @include description;
        padding: 40px 0 40px 0;
        font-size: 18px;
        max-width: 520px;
        opacity: .8;
      }
    }

    .photoBlock {
      width: 440px;
      height: 600px;
      background-color: #124f5b;

      .circle {
        width: 600px;
        height: 600px;
        background: #29a587;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        position: absolute;
        bottom: 0;
      }

      img {
        position: absolute;
        bottom: 0;
        height: 800px;
        object-fit: cover;
        border-radius: 380px;
        -webkit-border-radius: 380px;
      }
    }
  }
}

@media screen and (max-width: 1620px) {
  .segment {
    .block {
      flex-direction: column;

      .aboutMeBlock {
        align-items: center;

        .title {
          align-items: center;

          .mainTitle {
            font-size: 64px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .segment {
    .block {
      .aboutMeBlock {
        .title {
          display: flex;
          .mainTitle {
            font-size: 40px;
            text-align: center;
            ;
          }
        }
        .description {
          text-align: center;
        }
      }

      .photoBlock {
        width: 340px;
        height: 400px;
        .circle {
          width: 340px;
          height: 340px;
        }
      }
    }
  }
}
