@import '../styles/variable';
@import '../styles/mixin';

.bgTitle {
  color: rgba(255, 255, 255, .02);
  position: relative;
  top: -50px;
  font-size: 350px;
  font-family: $fontCurvy;
  font-weight: bold;
  line-height: 1px;
  text-align: center;
  white-space: nowrap;
  pointer-events: none;
}

@media screen and (min-width: 1600px) {
  .vLineBlockRight{
    @include vLineBlock(auto, -100px)
  }
  .vLineBlockLeft{
    @include vLineBlock(-100px, auto)
  }

}

@media screen and (max-width: 1620px) {
  .bgTitle{
    font-size: 200px;
  }
}

@media screen and (max-width: 800px) {
  .bgTitle{
    font-size: 150px;

  }
}
@media screen and (max-width: 600px) {
  .bgTitle{
    font-size: 80px;

  }
}
