@import "m1-ui/styles/mixin";

.App > div:nth-child(2n+1) {
  @include bgColor(180deg);
}

.App > div:nth-child(2n) {
  @include bgColor(0deg);
}

.App > div:nth-child(1) {
  //background-color: $bgColorDarker;
  background-color: rgba(34, 40, 49, 0.27);
  background-image: none;

}

.segment {
  @include vLineBlock(-100, auto);
}


/*
h1, h2, h3, h4, h5, h6, .m-title {
    font-weight: 400;
    font-family: "Jost";
    margin: 0;
    margin-bottom: 15px;
    color: #000;
    font-weight: 700;
    line-height: 1.3;
}

h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 44px;
    line-height: 1.3;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #fff;
}*/
