@import '../../../Common/styles/mixin';
@import '../../../Common/styles/variable';

.inputContainer {
  width: 60%;

  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    div{
      --bs-gutter-x: 1.5rem;
      padding-right: calc(var(--bs-gutter-x)/2);
      margin-bottom: 30px;
      label {
        @include mainTitle;
        color: $basicTextColor;
        display: block;
        text-indent: 30px;
        font-size: 14px;
        margin: 0;

        b {
          color: $extraColor;
        }

        .field {
          @include description;
          color: $textColor;
          background: $containerBgColor;
          border: 2px solid $borderColor;
          margin: 10px 0 0;
          padding: 0 30px;
          width: 100%;
          height: 60px;
          resize: none;
          outline: 0;
          -webkit-border-radius: 30px;
        }
        .textarea {
          height: 140px;
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }
    }
    .rowSm {
      width: 50%;
    }
    .rowLg{
      width: 100%;
    }

  }
  button {
    @include mainTitle;
    box-shadow: 5px 5px rgb(255 255 255 / 10%);
    padding: 0 40px;
    overflow: hidden;
    font-size: 13px;
    height: 56px;
    cursor: pointer;
    border: 2px solid $borderColor;
    background: transparent;
    -webkit-border-radius: 56px;
  }
}

@media screen and (max-width: 767px) {
  .inputContainer {
    width: 95%;
    form {
      flex-direction: column;
      align-items: flex-end;
      .rowSm {
        width: 100%;
      }
    }
  }
}