@import '../../../../Common/styles/_mixin.scss';
@import '../../../../Common/styles/_variable.scss';

.infoItem {
  transform: translate(0, 0);
  opacity: 1;
  position: relative;
  padding-left: 130px;
  margin-bottom: 40px;

  .icon {
    border: 2px solid #a3a5a7;
    background-color: #1d222a;
    box-shadow: 5px 5px 0 0 rgb(255 255 255 / 10%);
    -webkit-border-radius: 50%;
    width: 56px;
    height: 56px;
    position: absolute;
    left: 0;
    top: 0;

    .iconItem {
      height: 100%;
      background-color: #eaeaea;
      -webkit-mask-image: url("../../../../Common/icons/map-svgrepo-com.svg");
      mask-image: url("../../../../Common/icons/map-svgrepo-com.svg");
      -webkit-mask-size: 50%;
      mask-size: 50%;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-position: 50% 50%;
      mask-position: 50% 50%;
    }

    &::after {
      background: #a3a5a7;
      margin-top: -1px;
      content: '';
      box-sizing: border-box;
      left: 100%;
      top: 50%;
      width: 40px;
      height: 2px;
      position: absolute;
    }
  }

  .title {
    color: $textColor;
    padding: 10px 0;
    font-family: $fontCurvy;
    font-size: 30px;
    line-height: 1;
    font-weight: 700;
  }

  .text {
    opacity: .8;
    color: $basicTextColor;
    font-size: 16px;
    font-family: $fontTitle;
    font-weight: 400;
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
  }

}