.main{
    height: 25vh;
    background-color: #184f6b;
}
.footerContainer{
    justify-content: flex-start;
    flex-direction: column;
}
.footerPic{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.icon{
    width: 50px;
    height: 50px;
    background-color: lemonchiffon;
}