@import '../Common/styles/mixin';

.main {
    @include bgColor(0deg);

    min-height: 100vh;
}
.projectsMainBlock {
    justify-content: flex-start;
    flex-direction: column;
}
.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1129px) {
    .projects {
        justify-content: center;
    }
}




