@import '../Common/styles/mixin';

.main {
  @include bgColor(0deg);
  min-height: 100vh;
  @include container;
  justify-content: flex-start;
  flex-direction: column;

  .mainTitle {
    @include mainTitle;
  }

  .projects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (max-width: 1129px) {
      justify-content: center;
    }
  }

}








